.site__main {
	width: 100%;
	height: auto;
}

.first__section {
	width: 100%;
	height: auto;
}

.advantages__section {
	width: 100%;
	height: 570px;
	display: block;
	// justify-content: space-between;
	position: relative;
	z-index: 3;
	margin-bottom: 50px;
}

.advantages__section:before {
	content: "";
	position: absolute;
	width: 1000px;
	height: 1200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/advantage-branch.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	pointer-events: none;
}

.advantage__boot1 {
	position: absolute;
	width: 630px;
	top: -50px;
	right: 160px;
	z-index: 5;
	animation: up 5s infinite;
}

.advantage__boot2 {
	position: absolute;
	width: 600px;
	bottom: -100px;
	left: 170px;
	z-index: 5;
	animation: up 5s infinite;
}

@keyframes up {
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

.advantages__groupe {
	width: 240px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.groupe__left {
	float: left
}

.groupe__left {
	float: right
}

.advantage {
	margin-top: 35px;
	width :240px;
	height: 135px;
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	padding: 40px 20px 10px 20px;
	position: relative;
}

.advantage__logo {
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translateX(-50%);
	background: #166908;
	width :70px;
	height: 70px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.advantage__text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	word-wrap: wrap;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.slider__section {
	width: 100%;
	height: 900px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	z-index: 10;
}

.slider__section:before {
	content: "";
	width: 1920px;
	height: 740px;
	position: absolute;
	top: -150px;
	left: 50%;
	transform: translateX(-50%);
	background-image: 
		url("../img/clouds.png"),
		url("../img/ellipse.png");
	background-repeat: no-repeat;
	background-size: 
		contain, 
		1000px;
	background-position: 
		center, 
		right -100px center;
	opacity: 0.6;
	z-index: -1;
}

.slider__left {
	width: calc(100% - 680px);
	height: 580px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	position: relative;
}

.slider__left:before {
	content: "";
	position: absolute;
	top: -200px;
	right: 0;
	width: 1000px;
	height: 1000px;
	background-image: 
		url("../img/slider-tree.png"),
		url("../img/slider-sand.png");
	background-repeat: no-repeat;
	background-size: 500px, cover;
	background-position: 
		right 100px top,
		right bottom 100px;
}

.slider__left:after {
	content: "";
	position: absolute;
	top: 50%;
	left: -180px;
	transform: translateY(-50%);
	// margin-top: -50px;
	width: 300px;
	height: 750px;
	background-image: url("../img/slider-man.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slider__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 40px;
	margin-top: 150px;
	position: relative;
	z-index: 10;
	.sale {
		margin-bottom: 50px;
	}
}

.slider__section-wrapper {
	width: 680px;
	height: 580px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slider {
	width: 387px;
	height: 578px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slide {
	width: 387px;
	height: 578px;
	position: relative;
	// pointer-events: auto;
	a {
		width: 100%;
		height: 100%;
	}
	img {
		width: 100%;
		height: auto;
		pointer-events: auto;
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		background-image: url("../img/zoom.png");
		background-repeat: no-repeat;
		background-position: center;
		// z-index: 10000;
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s ease;
	}
}

.slide:hover {
	&:before {
		opacity: 1;
		visibility: visible;
	}
}

.slick-prev {
	left: auto;
	top: auto;
	transform: none;
	right: 0;
	bottom: 20px;
	width: 100px;
	height: 50px;
	border-radius: 30px 0px 0px 30px;
	background-color: #000;
	z-index: 100000;
	padding-left: 10px;
	&:before {
		font-size: 40px;
		line-height: 50px;
		color: #fff;
	}
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: #fff;
    outline: none;
    background: #000;
}

.slick-next {
	left: auto;
	top: auto;
	transform: none;
	left: 0;
	bottom: 20px;
	width: 100px;
	height: 50px;
	border-radius: 0px 30px 30px 0px;
	background-color: #000;
	z-index: 100000;
	padding-left: 10px;
	&:before {
		font-size: 40px;
		line-height: 50px;
		color: #fff;
	}
}


.fotos {
	height: 100%;
	width: 260px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.fotos__row {
	width: 100%;
	height: 178px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.row__2 {
	align-items: center;
}

.row__3 {
	align-items: flex-end;
}

.foto__wrapper {
	width: 120px;
	height: 178px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: 0.3s ease;
	cursor: pointer;
	
	img {
		width: 100%;
		height: auto;
		pointer-events: auto;
	}
}

.foto__wrapper.active {
	width: 106px;
	height: 158px;
	opacity: 0.8;
} 

.foto__wrapper:hover {
	opacity: 0.8;
} 

.sprey__section {
	width: 100%;
	height: 517px;
	display: flex;
	justify-content: flex-start;
	position: relative;
	z-index: 10000;
}

.sprey__info {
	width: 637px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
}

.sprey__leaves {
	position: absolute;
	width: 900px;
	top: 50%;
	right: -730px;
	transform: translateY(-50%);
}

.sprey__img {
	position: absolute;
	width: 330px;
	top: 50%;
	right: -420px;
	transform: translateY(-50%);
}

.sprey__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	color: #101010;
	width: 100%;
	word-wrap: wrap;
	margin-bottom: 50px;
}

.sprey__wrapper {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 10;
}

.sprey__left {
	width: 290px;
	height: auto;
}

.sprey__text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	color: #000000;
	opacity: 0.8;
	margin-bottom: 30px;
}

.sprey__right {
	width: 280px;
	height: auto;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.form__input {
	width: 280px;
	height: 50px;
	background: #FFFFFF;
	border-radius: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 50px;
	color: #000000;
	outline: none;
}

.form__input::placeholder {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 50px;
	color: #000000;
}

.form__price {
	margin-top: 22px;
	.price {
		margin-bottom: 14px;
	}
}

